img {
  max-width: 100%;
}

.article {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 1.618rem;
}

.article img {
  flex: 0 0 30%;
  
}

.article .description {

}
